*{
  margin:5;
  padding:5;
}

#container{
display:grid;
border: 0px solid black;
grid-template-columns: 4fr 1fr;
grid-template-rows: calc(10vh - 10px) calc(40vh - 10px) calc(40vh - 10px) calc(13vh - 10px);
}


#container .texto8{
padding: 10px;
background-color:#87CEFA;
border-radius: 5px;
grid-column: 1/5;
grid-row: 1/2;
}

#container .texto1{
padding: 9px;
background-color:#008080;
border-radius: 5px;
grid-column: 1/2;
grid-row: 2/2;
}

#container .imagen4{
padding: 9px;
border-radius: 5px;
grid-column: 1/2;
grid-row: 2/3;
}


#container .okb4{
padding: 10px;
grid-column: 2/4;
grid-row: 2/4;
}

#container .pie{
padding: 9px;
background-color:#87CEFA;
border-radius: 5px;
grid-column: 1/4;
grid-row: 4/-1;
}

#container .imagen4 img{
  width: 100%;
  height: 100%;
}

#container .okb3 img{
  width: 100%;
  height: 100%;
}
