*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #000000;
  color:RED;
  background-image: url("../img/12.png");
  background-size: cover;
}

#pages{
  display:grid;
  grid-template-columns: 9fr 8.75fr 8.75fr 9fr 9fr;
  grid-template-rows: 10vh 5vh 30vh 5vh 30vh 20vh 10vh;
}

#pages .cabecera{
  padding: 9px;
  background-color:#FFFFFF;
  border-radius: 5px;
  grid-column: 1/6;
  grid-row: 1/2;
  font-size:30px;
  text-align:center;
  text-indent:35px;
  text-decoration:underline
  animation:blur 2s ease-out infinite;
  text-shadow:0px 0px 5px #fff,
    0px 0px 7px #ff0000;
  text-shadow:0px 0px 10px #fff,
       0px 0px 10px #fff,
       0px 0px 25px #fff,
       0px 0px 25px #fff,
       0px 0px 50px #fff,
       0px 0px 50px #fff,
       0px 0px 50px #ff0099,
       0px 0px 150px #ff0099,
       0px 10px 100px #ff0099,
       0px 10px 100px #ff0099,
       0px 10px 100px #ff0099,
       0px 10px 100px #ff0099,
       0px -10px 100px #ff0099,
       0px -10px 100px #ff0099;
 }

 #pages .okb{
   border-radius: 5px;
   grid-column: 3/4;
   grid-row: 5/6;
}

#pages .okb2{
  padding: 9px;
  grid-column: 5/5;
  grid-row: 5/6;
}

#pages .okb3{
  padding: 9px;
  grid-column: 2/3;
  grid-row: 5/6;
}

#pages .okb5{
  padding: 9px;
  grid-column: 4/5;
  grid-row: 5/-4;
}

#pages .okb6{
  padding: 9px;
  grid-column: 1/1;
  grid-row: 5/6;
}

#pages .textoA{
  text-align: center;
  padding: 9px;
  grid-column: 1/1;
  grid-row: 4/4;
}

#pages .textoB{
  text-align: center;
  padding: 9px;
  grid-column: 2/4;
  grid-row: 4/-4;
}

#pages .textoC{
  text-align: center;
  padding: 9px;
  grid-column: 1/4;
  grid-row: 4/-4;
}

#pages .textoD{
  text-align: center;
  padding: 9px;
  grid-column: 1/4;
  grid-row: 4/-4;
}

#pages .textoE{
  text-align: center;
  padding: 9px;
  grid-column: 1/4;
  grid-row: 4/-4;
}
#pages .okb img{
  width: 90%;
  height: 90%;
}
#pages .okb2 img{
  width: 90%;
  height: 90%;
}
#pages .okb3 img{
  width: 100%;
  height: 100%;
}
#pages .okb4 img{
  width: 90%;
  height: 90%;
}
#pages .okb5 img{
  width: 90%;
  height: 90%;
}
#pages .okb6 img{
  width: 90%;
  height: 90%;
}
#pages .texto1{
  padding: 9px;
  grid-column: 1/4;
  grid-row: 4/-4;
}
