*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: green;
  color:white;
  font-size: 22px;
  background-image: url("../img/neo.jpg");
  background-size: cover;
}

#container{
  display:grid;
  grid-template-columns: 3.75fr 6.75fr 6.75fr 3.75fr;
  grid-template-rows: 10vh 8vh 30vh 4vh 30vh 8vh 10vh;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: blue
}

#container .cabecera{
  padding: 9px;
  background-color:#000000;
  border-radius: 5px;
  grid-column: 1/6;
  grid-row: 1/2;
  font-size:30px;
  text-align:center;
  text-indent:35px;
  text-decoration:underline
  animation:blur 2s ease-out infinite;
  text-shadow:0px 0px 5px #fff,
    0px 0px 7px #ff0000;
  text-shadow:0px 0px 10px #fff,
   0px 0px 10px #fff,
   0px 0px 25px #fff,
   0px 0px 50px #fff,
   0px -10px 100px #ff0099,
   0px -10px 100px #ff0099;
 }

#container .texto1{
  padding: 9px;
  background-color:#FF1493;
  border-radius: 5px;
  grid-column: 2/2;
  grid-row: 4/2;
}

#container .imagen1{
  padding: 9px;
  background-color:#FF1493;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 3/3;
}

#container .texto2{
  padding: 9px;
  background-color:#FF1493;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 6/4;
}

#container .imagen2{
  padding: 9px;
  background-color:#FF1493;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 5/6;
}

#container .texto3{
  padding: 9px;
  background-color:black;
  border-radius: 5px;
  grid-column: 3/4;
  grid-row: 6/4;
}

#container .imagen3{
  padding: 9px;
  background-color:green;
  border-radius: 5px;
  grid-column: 3/3;
  grid-row: 5/6;
}

#container .texto4{
  padding: 9px;
  background-color:green;
  border-radius: 5px;
  grid-column: 3/4;
  grid-row: 2/4;
}

#container .imagen4{
  padding: 9px;
  background-color:green;
  border-radius: 5px;
  grid-column: 3/3;
  grid-row: 3/4;
}
#container .texto8{
  padding: 9px;
  background-color:green;
  border-radius: 5px;
  grid-column: 2/4;
  grid-row: 1/;
}
#container .imagen1 img{
  width: 90%;
  height: 90%;
}
#container .imagen2 img{
  width: 90%;
  height: 90%;
}
#container .imagen3 img{
  width: 90%;
  height: 90%;
}
#container .imagen4 img{
  width: 90%;
  height: 90%;
}
